body{
  background-color:#586161;
  margin:auto;
}

.congrats h2{
  text-align:center;
}

.congrats p{
  text-align:left;
}
.main-title{
  text-transform:uppercase;
  text-align:center;
  padding-bottom:50px;
  margin:25px 0;
  color:#DFE0D7;

}
.alignGratz{
  color:#DFE0D7;
  margin-left:800px;
  margin-right:100px;
}
.bottomimage{
  margin-left:300px;
}
.bottomimage img{
  width:100%;
  height:150px;
}
.navbar li{
  list-style:none;
}
